# Lambdas, Closures and Collections

### Lambdas

Lambdas are anonymous functions (dont have names) where we want to have a repeatable bit of code but its not warranted to create a function for it.

In [3]:
# Normal function

def square(num):
    return num * num

square(20) # =>4

400

In [6]:
# Lambda function

square_lambda = lambda num: num * num

square_lambda(20)

400

### Collection Functions

In [15]:
from functools import reduce

In [16]:
# Map

In [17]:
# f(x) = 1 + x

# Domain: [1,2] - every possible argument you can give to function
# Range: [2,3] - equivalent thing you get back when you use the argument

In [18]:
domain = [1,2,3,4,5]

# f(x) = x * 2
our_range = map(lambda num: num * 2, domain)
print(list(our_range))

[2, 4, 6, 8, 10]

The result you get is the same length as the argument provided in mapping.

In [19]:
# Filter

In [20]:
# To filter only the true values

evens = filter(lambda num: num % 2 == 0, domain)
print(list(evens))

[2, 4]

In [21]:
# Reduce

In [22]:
# Reducing an iterable down to one thing. It sums up all the items in the list.
# You need to import "from functools import reduce" for this to work.

the_sum = reduce(lambda acc, num: acc + num, domain, 0)
print(the_sum)

15

In [23]:
# Sort

In [24]:
words = ['Boss', 'a', 'Alfred', 'fig', 'Daemon', 'dig']
print("Sorting by Default")
print(sorted(words))

Sorting by Default
['Alfred', 'Boss', 'Daemon', 'a', 'dig', 'fig']

In [25]:
print ("Sorting with a lambda key")
print(sorted(words, key=lambda s: s.lower()))

Sorting with a lambda key
['a', 'Alfred', 'Boss', 'Daemon', 'dig', 'fig']

By default, capital letters are lower than in the number scheme than lowercase letters. But we want all the a's to be first etc. By doing the KEY LAMBDA, you disregard upper and lowercase differences.

In [29]:
print("Sorting with a method")
words.sort(key=str.lower, reverse=True)
print(words)

Sorting with a method
['fig', 'dig', 'Daemon', 'Boss', 'Alfred', 'a']

### Closures

In [32]:
def greeter(prefix):
    def greet(name):
        print(f"{prefix} {name}")
    return greet

hello = greeter("Hello,")
goodbye = greeter("Goodbye,")

hello("Kevin")
goodbye("Kyle")

Hello, Kevin
Goodbye, Kyle

Closures can hold on information that is stored in a variable that is at the higher level - they allow you to encapsulate the variable within them.

### HANDS-ON LAB

1. Create the `sorted_by_name` List by Sorting the `people` List of Dictionaries

Sort the 'people' list of dictionaries alphabetically based on the 'name' key from each dictionary using the 'sorted' function and store the new list as 'sorted_by_name'

In [67]:
people = [
    {"name": "Kevin Bacon", "age":61},
    {"name": "Fred Ward", "age":77},
    {"name": "finn Carter", "age":59},
    {"name": "Ariana Richards", "age":40},
    {"name": "Victor Wong", "age":74}
]

print(people)

[{'name': 'Kevin Bacon', 'age': 61}, {'name': 'Fred Ward', 'age': 77}, {'name': 'finn Carter', 'age': 59}, {'name': 'Ariana Richards', 'age': 40}, {'name': 'Victor Wong', 'age': 74}]

In [68]:
people = [
    {"name": "Kevin Bacon", "age":61},
    {"name": "Fred Ward", "age":77},
    {"name": "finn Carter", "age":59},
    {"name": "Ariana Richards", "age":40},
    {"name": "Victor Wong", "age":74}
]

sorted_by_name = sorted(people, key=lambda d: d['name'].lower())

print(sorted_by_name)

[{'name': 'Ariana Richards', 'age': 40}, {'name': 'finn Carter', 'age': 59}, {'name': 'Fred Ward', 'age': 77}, {'name': 'Kevin Bacon', 'age': 61}, {'name': 'Victor Wong', 'age': 74}]

2. Create the `name_declarations` List by Mapping Over `sorted_by_name`

Use the 'map' function to iterate over 'sorted_by_name' to generate a new list called 'name_declarations' where each value is a string with NAME is AGE years old. Where the NAME and AGE values are from the dictionaries.

In [69]:
people = [
    {"name": "Kevin Bacon", "age":61},
    {"name": "Fred Ward", "age":77},
    {"name": "finn Carter", "age":59},
    {"name": "Ariana Richards", "age":40},
    {"name": "Victor Wong", "age":74}
]

name_declarations = list(
    map(lambda d: f"{d['name']} is {d['age']} years old", sorted_by_name)
)

print(name_declarations)

['Ariana Richards is 40 years old', 'finn Carter is 59 years old', 'Fred Ward is 77 years old', 'Kevin Bacon is 61 years old', 'Victor Wong is 74 years old']

3. Create the `under_seventy` List by Filtering and Sorting the `sorted_by_name` List

Combine the 'filter' and 'sorted' functions to iterate over 'sorted_by_name' to generate a new list called 'under_seventy' that only contains the dictionaries where 'age' key is less than 70, sorting the list by age.

In [77]:
people = [
    {"name": "Kevin Bacon", "age":61},
    {"name": "Fred Ward", "age":77},
    {"name": "finn Carter", "age":59},
    {"name": "Ariana Richards", "age":40},
    {"name": "Victor Wong", "age":74}
]

under_seventy = sorted(
    filter(lambda d: d['age']<70, sorted_by_name), key=lambda d: d['age']
) 

print(under_seventy)

[{'name': 'Ariana Richards', 'age': 40}, {'name': 'finn Carter', 'age': 59}, {'name': 'Kevin Bacon', 'age': 61}]

### Conditionals and Expressions

Flattening conditionals down:

In [ ]:
if CONDITION:
    my_var = 1
else:
    my_var = 2
    
my_var = 1 if: CONDITION else 2

The value on the left hand side will be returned if condition is True and the value on the right-hand side will be returned if condition is False.

In [ ]:
print("A") if CONDITION else print("B")

### HANDS ON LAB

1. Call `print` with a Different String Using a Single Conditional Expression

In [79]:
name = input("What is your first name?")

if len(name) >= 6:
    print("Your name is as long on longer than the average first name in the US")
else:
    print("Your name is shorter than the average first name in the US")

What is your first name?Dani
Your name is shorter than the average first name in the US

Refactoring...

In [82]:
name = input("What is your first name?")

print("Your name is as long on longer than the average first name in the US") if len(name)>=6 else print("Your name is shorter than the average first name in the US")

What is your first name?Daniella
Your name is as long on longer than the average first name in the US

2. Set 'message' using a single conditional expression

In [83]:
if name[0].lower() in ["a", "j", "m", "e", "l"]:
    message = "The first letter in your name is amoung the five most common"
else:
    message = "The first letter of your name is not among the most common"
    
print(message)

The first letter of your name is not among the most common

Refactoring...

In [85]:
message = (
    "The first letter in your name is amoung the five most common"
    if name[0].lower() in ["a", "j", "m", "e", "l"]
    else "The first letter of your name is not among the most common"
)

print(message)

The first letter of your name is not among the most common

3. Change the string passed to the 'print' function using a conditional expression

In [86]:
for letter in name:
    if letter.lower() in ["a", "e", "i","o", "u"]:
        print(f"{letter} is a vowel")
    else:
        print(f"{letter} is a consonant")

D is a consonant
a is a vowel
n is a consonant
i is a vowel
e is a vowel
l is a consonant
l is a consonant
a is a vowel

In [99]:
for letter in name:
    print(
        f"{letter} {'is a vowel' if letter.lower() in ['a','e','i','o','u'] else 'is a consonant'}"
    )

D is a consonant
a is a vowel
n is a consonant
i is a vowel
e is a vowel
l is a consonant
l is a consonant
a is a vowel